<div{{ attributes }}>
    <!-- component HTML -->
    <h1>Tons of Live Prop</h1>
    <p>Prop1: {{ prop1 }}</p>
    <p>Price: {{ price }}</p>
    <p>Tags: {{ tags|join(', ') }}</p>
    <p>Is Visible: {{ isVisible ? 'Yes' : 'No' }}</p>
    <p>{{ dumbDto|json_encode }}</p>
    <button data-action="live#action" data-live-action-param="updateSomeProps">Update Some Props</button>

</div>
